{% extends 'base.html' %}

{% block title %}Recipe Book | List{% endblock %}

{% block content %}
    <h1>Recipe Book • List</h1>
    <ul>
        {% for recipe in recipes %}
        <li>
            <h2>{{ recipe.name }}</h2>

            <ul>
                {% for recipe_ingredient in recipe.ingredients.all %}
                <li>{{ recipe_ingredient.quantity }} {{ recipe_ingredient.ingredient.name }}</li>
                {% endfor %}
            </ul>

            {% comment %} 
            
            <form action="/" method = "post">
                {% csrf_token %}
                <label for = "recipe_detail">
                    <span> Recipe Detail </span>
                    <input type="text" id="recipe_detail" name="recipe_detail">
                </label>

                <label for = "recipe_ingredient">
                    <span> Recipe Ingredients </span>
                    <input type = "text" id = "recipe_ingredient" name = "recipe_ingredient">
                </label>

                <select id = "Recipe" name = "Recipe">
                    {% for recipe in recipes.all %}
                        <option value = "{{ recipe.pk }}"> {{ recipe.name }} </option>
                    {% endfor %}
                </select>

            </form>

            {% endcomment %}
            <form action="{% url 'recipe_detail' pk=recipe.pk %}" method="get">
                <button type="submit">Link to Recipe</button>
            </form>
        
        </li>
        {% endfor %}
    </ul>
{% endblock %}
