{% extends 'base.html' %}

{% block title %}Recipe Book | List{% endblock %}

{% block content %}


    <h1>Recipe Book • List</h1>


    <form action="{% url 'upload_recipe' %}" method="get">
        <button type="submit">Add Recipe</button>
    </form>


    <ul>
        {% for recipe in recipes %}
        <li>
            <h2>{{ recipe.name }}</h2>

            <ul>
                {% for recipe_ingredient in recipe.ingredients.all %}
                <li>{{ recipe_ingredient.quantity }} {{ recipe_ingredient.ingredient.name }}</li>
                {% endfor %}
            </ul>

            <form action="{% url 'recipe_detail' pk=recipe.pk %}" method="get">
                <button type="submit">Link to Recipe</button>
            </form>
        
        </li>

        {% endfor %}

    </ul>


{% endblock %}
