<!DOCTYPE html>
<html lang="en">

<head>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    <title>{{ recipe.name }}</title>
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>

<body>
    <h1>Recipe Book</h1>
    <h2>{{ recipe.name }}</h2>
    <p><strong>Author:</strong> {{ recipe.author.username }}</p>
    <p><strong>Created:</strong> {{ recipe.created }}</p>
    <p><strong>Updated:</strong> {{ recipe.updated }}</p>
    <ul>
        {% for recipe_ingredient in recipe.recipeingredient_set.all %}
        <li>{{ recipe_ingredient.quantity }} {{ recipe_ingredient.ingredient.name }}</li>
        {% endfor %}
    </ul>
    
    <form action="{% url 'recipe_list' %}" method="get">
        <button type="submit">Go back</button>
    </form>
    
</body>

</html>
