<!DOCTYPE html>
<html lang="en">
    
<head>
    <title>{{ recipe.name }}</title>
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>
<body>
    <h1>Recipe Book</h1>
    <h2>{{ recipe.name }}</h2>
    <ul>
        {% for recipe_ingredient in ingredients %}
        <li>{{ recipe_ingredient.quantity }} {{ recipe_ingredient.ingredient.name }}</li>
        {% endfor %}
    </ul>
    <a href="http://localhost:8000/recipes/list/">Go back</a>
</body>
</html>
