{% extends 'base.html' %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block content %}
    <h2>{{ recipe.name }}</h2>

    <p><strong>Author:</strong> {{ recipe.author.username }}</p>
    <p><strong>Created:</strong> {{ recipe.created }}</p>
    <p><strong>Updated:</strong> {{ recipe.updated }}</p>
    
    <ul>
        {% for recipe_ingredient in recipe.recipeingredient_set.all %}
        <li>[{{ recipe_ingredient.quantity }}] <b> {{ recipe_ingredient.ingredient.name }} </b></li>
        {% endfor %}
    </ul>
    
    <form action="{% url 'recipe_list' %}" method="get">
        <button type="submit">Go back</button>
    </form>

{% endblock %}
